@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-white: #fff;
  --primary-yellow: #ee9b00;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* Nav Section */
.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.5rem !important;
  color: var(--primary-yellow) !important;
}

nav a.nav-link {
  font-weight: 200;
  font-size: 1.30rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a:hover {
  color: var(--primary-yellow) !important;
}

/* Error Page */
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-yellow) !important;
}